body{
	width: 100%;
	height: 100%;
}
.cadastar-box{
	background-color: blue;
	width:380px;
	height: 260px;
	margin:140px auto 0px;
	border-radius: 5px;

}
.hero.is-success {
  background: #f2f7fa;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}