.divfazerpergunta{
		margin-top: 110px;
}
.dropdown{
	margin-top: 50px;
}
h1{
	text-align: center;
}
.text{
	text-align: center;
}
.pergunta{

}
.respergunta{
	margin-top: 110px;
	text-align: center;
}
